<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Font Styles -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
  <title>InResto</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>

  <header class="header">
    <div class="header__inner">
      <h1 class="header__title">InResto</h1>

      <button id="menu" class="header__menu">☰</button>
      <nav class="nav">
        <ul id="drawer" class="nav__list">
          <li class="nav__item"><a href="/">Home</a></li>
          <li class="nav__item"><a href="#">Favorite</a></li>
          <li class="nav__item"><a href="https://www.linkedin.com/in/andi-paris-b-871960141/">About</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">Ayo Carik Jajan</h1>
    </div>
  </div>

  <main id="maincontent">
    <section class="content">
      <div class="latest">
        <h1 class="latest__label">Jelajah Restaurant</h1>
        <div class="posts"></div>
      </div>
    </section>
  </main>

  <footer>
    <p>Copyright &copy; 2020 - InResto</p>
  </footer>
</body>
</html>